<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chunker_subject.name %>
</p>

<%= link_to 'Edit', edit_chunker_subject_path(@chunker_subject) %> |
<%= link_to 'Back', chunker_subjects_path %>
