<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chunker_verb.name %>
</p>

<%= link_to 'Edit', edit_chunker_verb_path(@chunker_verb) %> |
<%= link_to 'Back', chunker_verbs_path %>
