<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chunker_ending.name %>
</p>

<%= link_to 'Edit', edit_chunker_ending_path(@chunker_ending) %> |
<%= link_to 'Back', chunker_endings_path %>
