.current_hero_criterium_section
{
  margin-top: 10px;

  .attribute_section {
    font-size: 16px;
    margin-bottom: 2px;
    .attribute_base_value {

    }
    .attribute_gain_value {
      font-weight: bold;
    }
  }
}